header{
    height: 100vh;
    background-image: url(../pictures/Index_pic/index_bkg01.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

header h1{
    position: absolute;
    font-size: 35px;
    color: white;
    left: 50%;
    top: 40%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

header p{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.space{
    height: 50px;
}


.gravatar {
    height: 250px;
    text-align: center;
    margin: 0 auto;
    color: gray;
    text-align: center;
}

.gravatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid pink;
}

.gravatar img:hover{
    opacity: 0.5;
}

.gravatar h2{
    height: 50px;
    font-size: 35px;
}

.gravatar p{
    font-size: 20px;
}

.book-icon{
    text-align: center;
}

.book-icon img{
    width: 60px;
    height: 60px;
}

.qlist:before{
    content: "";
    background-color: orange;
    display: inline-block;
    width: 150px;
    border: 1px solid;
}

.qlist{
    color: grey;
    text-align: center;
    margin: 0 auto;
}

.qlist img {
    width: 40px;
    height: 40px;
}

.lob_pic img{
    display: block;
    margin: auto;
}

.food_intro img:hover{
    opacity: 0.5;
}
