*{
    box-sizing: border-box;
}

.iphone {
    position: relative;
    background-image: url(iPhone-6S-Silver.png);
    background-position: -120px;
    height: 500px;
    width: 300px;
    background-size: 500px;
    float: left;
}

.homework {
    position: relative;
    background-position: -120px;
    height: 500px;
    width: 300px;
    background-size: 500px;
    float: left
}

.shell{
    position: absolute;
    top: 10px;
    left: 11px;
    width: 237px;
    height: 478px;
    border-radius: 30px;
    background-color: white;
    border: 4px solid #909090;
    opacity: 1;
}

.screen{
    position: absolute;
    top: 56px;
    left: 19px;
    width: 221px;
    height: 374px;
    border-radius: 0%;
    background-color: black;
    opacity: 1;
}

.btn{
    position: absolute;
    top: 438px;
    left: 110px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #9b9b9b;
    opacity: 1;
}

.holeL{
    position: absolute;
    top: 35px;
    left: 83px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    border: 0.5px solid gray;
    opacity: 1;
}

.holeR{
    position: absolute;
    top: 21px;
    left: 126px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    border: 0.5px solid gray;
    opacity: 1;
}

.sensor{
    position: absolute;
    top: 35px;
    left: 112px;
    width: 35px;
    height: 4px;
    border-radius: 40%;
    background-color: dimgray;
    border: 1.5px solid #909090;
    opacity: 1;
}

.btnLT{
    position: absolute;
    top: 55px;
    left: 8px;
    width: 4px;
    height: 20px;
    border-radius: 50% 0% 0% 50%;
    background-color: #909090;
    opacity: 1;
}

.btnLM{
    position: absolute;
    top: 100px;
    left: 8px;
    width: 4px;
    height: 28px;
    border-radius: 50% 0% 0% 50%;
    background-color: #909090;
    opacity: 1;
}

.btnLD{
    position: absolute;
    top: 144px;
    left: 8px;
    width: 4px;
    height: 28px;
    border-radius: 50% 0% 0% 50%;
    background-color: #909090;
    opacity: 1;
}

.btnR{
    position: absolute;
    top: 101px;
    left: 248px;
    width: 4px;
    height: 28px;
    border-radius: 0% 50% 50% 0%;
    background-color: #909090;
    opacity: 1;
}